<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>TMVC Framework</display-name>

	<servlet>
		<servlet-name>tmvcController</servlet-name>
		<servlet-class>tower.tmvc.RootServlet</servlet-class>
		<init-param>
			<param-name>module</param-name>
			<param-value>cem</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>ServletFileDisplay</servlet-name>
		<servlet-class>tower.common.servlet.ServletFileDisplay</servlet-class>
	</servlet>
	<!--巡检日志存为txt的Servlet定义 -->
	<servlet>
		<display-name>
		ServletInspectLogTxt</display-name>
		<servlet-name>ServletInspectLogTxt</servlet-name>
		<servlet-class>
		tower.cem.servlet.ServletInspectLogTxt</servlet-class>
	</servlet>
	
	<!--分练日志存为txt的Servlet定义 -->
	<servlet>
		<display-name>
		ServletPickLogTxt</display-name>
		<servlet-name>ServletPickLogTxt</servlet-name>
		<servlet-class>
		tower.cem.servlet.ServletPickLogTxt</servlet-class>
	</servlet>
	
	<!--数据采集日志存为txt的Servlet定义 -->
	<servlet>
		<display-name>
		ServletCollectLogTxt</display-name>
		<servlet-name>ServletCollectLogTxt</servlet-name>
		<servlet-class>
		tower.cem.servlet.ServletCollectLogTxt</servlet-class>
	</servlet>
	
	<!--采集数据存为excle的Servlet定义 -->
	<servlet>
		<description>
		</description>
		<display-name>
		ServletRxpToExcel</display-name>
		<servlet-name>ServletRxpToExcel</servlet-name>
		<servlet-class>
		tower.cem.servlet.ServletRxpToExcel</servlet-class>
	</servlet>
	<!--模板执行日志存为txt的Servlet定义 -->
	<servlet>
		<display-name>
		ServletTempLogTxt</display-name>
		<servlet-name>ServletTempLogTxt</servlet-name>
		<servlet-class>
		tower.cem.servlet.ServletTempLogTxt</servlet-class>
	</servlet>

	<!-- Standard Action Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>tmvcController</servlet-name>
		<url-pattern>/applications/cem/ctrl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletFileDisplay</servlet-name>
		<url-pattern>/WEB-INF/applications/sys/servlets/ServletFileDisplay</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletInspectLogTxt</servlet-name>
		<url-pattern>/servlet/ServletInspectLogTxt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletPickLogTxt</servlet-name>
		<url-pattern>/servlet/ServletPickLogTxt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletCollectLogTxt</servlet-name>
		<url-pattern>/servlet/ServletCollectLogTxt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletRxpToExcel</servlet-name>
		<url-pattern>/servlet/ServletRxpToExcel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletTempLogTxt</servlet-name>
		<url-pattern>/servlet/ServletTempLogTxt</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
	</welcome-file-list>
</web-app>
