

组织：
类别：
作者：
日期：


		OPS（One-time Password System）需求说明书

1. 前言
基于互联网的电子商务技术的应用，使得越来越多的企业和组织从中受益。通常情
况下，企业/组织的员工、商业伙伴以及客户，使用静态密码访问电子商务的应用。
同时，其存在的风险也是显而易见的。在这样的应用环境下，提出了使用“强数字
标识（Stong Digital Identify）”的技术，以保证应用过程中的有效的阻止未授权
用户的访问，以及解决用户信息盗取使用的情况。

OATH认为，“强数字标识”首要需要解决的问题是“强认证（Strong
 Authentication）”。同时，强认证也是建立网络信任的基础。
 
从技术的角度而言，我们可以使用多种技术实现强认证的要求。但在本系统中，我
们优先考虑使用动态口令（One-time Password）技术实现。

2. 参考资料
TOTP: Time-based One-time Password Algorithm
OCRA: OATH Challenge-Response Algorithms
OATH Reference Architecture, Release 2.0

3. 应用场景
下面我们介绍几种强认证的典型应用场景。

  - 远程访问：业务人员、技术支持通常会在出差过程中，需要以安全的方式访问
    公司的网络。可能通过以下方式：VPN，WEB Mail，以及基于WEB的应用系统等。

  - 网上银行：目前，越来越多的银行向其客户提供基于互联网的客户服务。通过网
    上银行，客户可以方便的、随时的（7*24）的办理金融业务。同时，相对常规的
    柜面服务，网上银行的业务办理成本更加低廉。与此同时，强认证也是网上银行
    的重要组成部分之一。包括：
     > 简单的动态口令
     > 基于挑战/应答方式的交易数字签名
     > 基于交易风险的认证技术

  - 远程办公：居家办公的员工，可以通过拨号或宽带连接到公司网络，其工作体验
    就如同其在公司办公一样。

  - 客户及商业伙伴支持：公司的客户及商业伙伴可能通过企业门户，访问其所需使
    用到的核心应用系统。而这样的应用环境下，仅仅通过IP地址是不足以验证其身份的。

  - 电子政务：“联合办公”因其协同高效的特点，已经逐渐成为一种趋势。在多部
    门、多人员、不同职能的办公环境下，首先要根据用户的身份，控制其对文件、
    功能的访问权限。

  - 7*24 IT支持：在维护不间断运行系统的过程中，通常IT人员或外包技术工程师会
    要求远程访问主机及核心系统。为了保证主机及核心系统的安全，强认证就变得
    非常必要了。

  - 无线漫游：无线网络用户通常需要“随时随地”的通过公共WiFi接入到互联网。
    网络运营供应商会在用户请求接入时，首先对用户进行强认证后，再为其提供无
    线接入服务。

  - 远程桌面登陆：有些情况下，用户需要通过强认证的方式登陆到远程桌面，可能
    为Windows或者Linux的控制台。用户需要一个静态口令，以及另外一种验证因素。

  - 封闭网络访问：在信息服务中，例如有线电视、WiMax等，只有已经标识且被认
    证的设备才能接入，并使用其服务。
 
 4. 系统架构
 本节中，将对系统中的各个组成部分进行简单的介绍。其中包括：
 > 客户端子系统
 > 管理与配置子系统
 > 检验子系统
 > 应用系统
 > 认证子系统
 > 用户数据存储子系统
 > 策略数据存储子系统
 > 审计数据存储子系统
 > 验证与身份识别共享组件
 > 风险评估共享组件
  


