@charset "utf-8";

/*******************************************************************************
* select
*******************************************************************************/
.selector{
	display: inline;
}

.selector .inputHolder{
	display: none;
}

.selector .displayer{
	font-size: 9pt;
	border: 1px solid #000066;
	background-color: #F8F8F8;
}
.selector .selectButton{
	font-size: 9pt;
	margin: 0px;
	background: transparent url("img/btnBg.gif");
	height: 20px;
	width:35px;
	border: 1px solid #000066;
}
.selector .okButton{
	font-size: 9pt;
	margin: 0px;
	background: transparent url("img/btnBg.gif");
	height: 20px;
	width:60px;
	border: 1px solid #000066;
}
.selector .cancleButton{
	font-size: 9pt;
	margin: 0px;
	background: transparent url("img/btnBg.gif");
	height: 20px;
	width:60px;
	border: 1px solid #000066;
}

.selector .downList{
	position: absolute;
	z-index:9;
	width:200px;
	border:1px solid #000;
	padding:3px;
	display: none;
	background: #65A8F3;
}

.selector .downListContent{
	border:1px solid #65A8F3;
	padding:3px;
	background: #FFF;
}

.selector .commandBar{
	clear:both;
	text-align:center;
	padding-top:3px;
	border:0px solid #000;
}

.selector .show{
	display: block;
}